
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*         LIST VIEW            */
.list-view {
  margin: 2em;
}

.list-view tbody tr:hover {
  background-color: orange;
  cursor: pointer;
}

.list-view table, th, td {
  border: #61dafb solid 2px;
}
.search-list-name {
  display: flex;
  justify-content: flex-start;
  width: 20em;
}

.limit-option {
  position: relative;
  width: 70px;
}

.pagination {
  display: flex;
  justify-content: center
}

.create-new-list{
  margin-top: 5em;
  margin-left: 20em;
  margin-right: 20em;
}

.delete-item {
  width: 3em;
}
